[package]
name = "dbil"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.3"
redblacktree = { path = "redblacktree" }
serde = { version = "1.0.152", features = ["derive"] }
