[workspace]
members = ["blackbox_bench"]

[package]
name = "dbil"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode = "1.3.3"
futures-lite = "1.12.0"
glommio = "0.8.0"
once_cell = "1.17.1"
redblacktree = { path = "redblacktree" }
regex = "1.7.1"
rmp = "0.8.11"
rmpv = "1.0.0"
serde = { version = "1.0.152", features = ["derive"] }
thiserror = "1.0.40"

[dev-dependencies]
tempfile = "3.4.0"
