[package]
name = "test_utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dbeel = { path = ".." }
futures-lite = "1.13.0"
glommio = "0.8.0"
